<!DOCTYPE html>
<html>
  <head>
    <title>Rails Watch List</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to "Rails Watch List", root_path, class: "navbar-brand" %>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <%= link_to "Listes", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Films", movies_path, class: "nav-link" %>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
